<div class="flex min-h-screen bg-gradient-to-b justify-center from-[#00ffff] to-[#3cb371]">
  <div class="w-full lg:w-1/3 flex items-center justify-center p-8">
    <div class="max-w-md w-full bg-white bg-opacity-80 backdrop-filter backdrop-blur-lg shadow-lg rounded-lg p-6">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Restablecer Contraseña</h2>
      <form (submit)="resetPassword($event)" class="space-y-4">

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required 
                 class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm 
                        focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out" 
                 placeholder="Ingresa tu correo electrónico" />
        </div>

        <div>
          <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña:</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required 
                 class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm 
                        focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out" 
                 placeholder="Ingresa tu nueva contraseña" />
        </div>

        <div>
          <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirmar Nueva Contraseña:</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required 
                 class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm 
                        focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out" 
                 placeholder="Confirma tu nueva contraseña" />
        </div>

        <button type="submit" 
                class="w-full py-3 mt-4 bg-blue-600 text-white font-semibold rounded-md 
                       hover:bg-blue-700 focus:outline-none focus:ring-2 
                       focus:ring-blue-500 focus:ring-opacity-50 transition duration-200 ease-in-out">
          Restablecer Contraseña
        </button>
      </form>
    </div>
  </div>
</div>
