<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded-lg p-6 w-96">
    <h2 class="text-2xl font-bold mb-4">Recuperar Contraseña</h2>
    <p class="text-gray-600 mb-6">Ingresa tu correo electrónico para recuperar tu contraseña.</p>

    <form (submit)="initiatePasswordRecovery($event)">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label>
        <input type="email" id="email" placeholder="Ingrese su correo" required [(ngModel)]="email" name="email"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" />
      </div>

      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Recuperar
        Contraseña</button>
    </form>
  </div>
</div>

<!-- Modal para la verificación de OTP -->
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" [class.hidden]="!isModalOpen">
  <div class="bg-white rounded-lg shadow-lg p-6 w-96">
    <h2 class="text-2xl font-bold mb-4">Verificar OTP</h2>
    <p class="text-gray-600 mb-4">Se ha enviado un código de verificación a tu correo.</p>
    
    <form (submit)="verifyOTP($event)">
      <div class="mb-4">
        <label for="otp" class="block text-sm font-medium text-gray-700">Código OTP:</label>
        <input type="text" id="otp" placeholder="Ingrese el código" required [(ngModel)]="otp" name="otp"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" />
      </div>

      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Verificar OTP</button>
    </form>

    <button (click)="closeModal()" class="mt-4 w-full text-center text-blue-500 hover:underline">Cancelar</button>
  </div>
</div>
