@use '@angular/material' as mat;

// Paleta para el tema claro
$my-light-primary: mat.define-palette(mat.$blue-palette);
$my-light-accent: mat.define-palette(mat.$amber-palette, A200);
$my-light-warn: mat.define-palette(mat.$red-palette);

// Paleta para el tema oscuro
$my-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$my-dark-accent: mat.define-palette(mat.$cyan-palette, A200);
$my-dark-warn: mat.define-palette(mat.$red-palette);

// Tema claro
$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-light-primary,
    accent: $my-light-accent,
    warn: $my-light-warn,
  ),
));

// Tema oscuro
$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-dark-primary,
    accent: $my-dark-accent,
    warn: $my-dark-warn,
  ),
));

// Incluir ambos temas
@include mat.all-component-themes($my-light-theme);
@include mat.all-component-themes($my-dark-theme);

// Clases para cambiar dinámicamente
.light-theme {
  @include mat.all-component-colors($my-light-theme);
}

.dark-theme {
  @include mat.all-component-colors($my-dark-theme);
}
